.library{
  display: flex;
  flex-direction: column;
  height: 100%;

  --defHeight: 108px;

  .controller{
    /*padding-bottom: 1rem;*/

    .favorites{
      color: #e6a23c;
    }

    .viewSettingWindow{
      .box{
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        .viewSetting{
          flex-grow: 1;
        }
        .line{
          flex-shrink: 0;
        }
      }
    }
  }

  .heightBox{
    height: 10rem;
  }

  .imageView{
    /*background: rgba(0, 0, 0, 0.9);*/
    position: fixed;
    top: 0;
    left: 0;
    /*width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    padding: 1rem;*/
    width: 100%;
    height: 100%;
    z-index: 50;
  }

  .smailDivider{
    margin: 0.5rem 0;
  }

  .fileView{
    overflow-y: scroll;
    max-height: calc(100vh - 200px + 1.5rem);
    max-height: calc(100svh - 200px + 1.5rem);
    /*
    display: flex;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
    */
    .fastFileFilter{
      margin-bottom: 0.5rem;
    }
  }
  .ListCard{
    /*max-height: calc(100vh - 200px + 1.5rem);
    max-height: calc(100svh - 200px + 1.5rem);*/
  }
  .groupView{
    /*overflow-y: scroll;*/
    /*max-height: calc(100vh - 200px + 1.5rem);
    max-height: calc(100svh - 200px + 1.5rem);*/

    .ListCard{
      overflow-y: inherit;
      max-height: none;
    }

    .groupFileView{
      .title{
        position: sticky;
        /*top: 1rem;*/
        top: 0;
        padding-top: 0.5rem;
        height: 50px;
        background: white;
        z-index: 50;
      }
    }
  }

  .statusBottomBar{
    display: flex;
    gap: 0.5rem;

    margin: 0.5rem;
    width: calc(100vw - 2rem - 1rem);
    align-items: center;

    &>span.el-tooltip__trigger.el-text{
      flex-grow: 1;
    }

    .el-popper.el-tooltip.el-popover{
      /*max-height: calc(100dvh - 108px);*/
      /*max-height: calc(var(--pHeight) - var(--defHeight));*/
      /*max-height: calc(100vh - var(--defHeight));*/
      max-height: calc(100vh - 181px);
      max-height: calc(100svh - 181px);
      overflow-y: scroll;
    }

    .fileItem{
      .el-link, .el-link__inner{
        width: 100%;
      }
      .fileItemELink{
        .left{

        }
        .right{

        }
      }
    }
  }

  .a-hidden{
    display: none;
  }
}
.phone .library, .smallPhone .library{
  .a-text{
    display: none;
  }
  .a-hidden{
    display: flex;
  }

  .controller{
    .el-divider.el-divider--vertical{
      margin: 0;
    }
  }

  .statusBottomBar{
    .a-text{
      display: none;
    }
  }
}

.favoriteItem{
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  gap: 0.5rem;

  .el-link{
    flex-grow: 1;
    justify-content: flex-start;
    .name{

    }
  }
}