.specialTag{
  height: calc(100vh - 60px - 16px - 1rem);
  height: calc(100svh - 60px - 16px - 1rem);
  /*height: calc(var(--pHeight) - 60px - 16px - 1rem);*/
  overflow-y: scroll;

  .addButton{
    margin-right: 32px;
    margin-bottom: 18px;
  }

  .tagBox{
    flex-wrap: wrap;
  }
}